.beer-card {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  transition: background 0.35s ease-in, 0.15s ease-out;
  background-color: #e9e9e9;
  box-sizing: border-box;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  user-select: none;
}

.beer-card:not(.selected):hover {
  background-color: #d9d9d9;
}

.beer-card__image__container {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-color: white;
  border-radius: 12px;
  user-select: none;
}

.beer-card__image {
  height: 90%;
}

.beer-card__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 6px;
  font-family: 'Oxygen', sans-serif;
  text-align: justify;
  pointer-events: none;
}

.beer-card__name {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #000000;
}

.beer-card__description {
  color: #333333;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.beer-card__details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  gap: 18px;
}

.beer-details__stats {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: #222222;
  gap: 8px;
}

.beer-stats__name {
  font-weight: 400;
}

.beer-stats__unit {
  font-weight: 700;
}

.beer-details__date {
  color: #333333;
  position: relative;
  font-size: 22px;
  text-align: center;
}

.beer-date__name {
  font-weight: 400;
}

.beer-date__value {
  font-weight: 700;
}

.selected {
  background-color: #d6ebf6;
}

@media screen and (min-width: 440px) {   
  .beer-card {
    border-radius: 16px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .beer-card__image__container {
    height: 250px;
  }

  .beer-details__stats {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 672px) {
  .beer-card {
    max-width: 900px;
    height: 240px;
    flex-direction: row;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
    gap: 12px;
  }
  
  .beer-card__image__container {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }
  
  .beer-card__image {
    height: 90%;
  }
  
  .beer-card__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 6px;
  }
  
  .beer-card__name {
    font-size: 24px;
  }
  
  .beer-card__description {
    font-size: 16px;
    line-height: 24px;
  }
  
  .beer-card__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
  }
  
  .beer-details__stats {
    position: relative;
    display: flex;
    font-size: 18px;
    gap: 12px;
  }

  .beer-details__date {
    position: relative;
    font-size: 16px;
  }
}
